.text-block {
  margin-top: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 1.5em;
  text-align: center;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-2 {
  position: relative;
  text-align: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.paragraph {
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.8em;
}

.arrow {
  position: absolute;
  top: auto;
  bottom: 120px;
  margin-top: 0px;
}

.heading {
  position: absolute;
  left: 10%;
  top: 0%;
  right: auto;
  bottom: 0%;
  -webkit-transform: perspective(0px) rotate(90deg) perspective(0px);
  transform: perspective(0px) rotate(90deg) perspective(0px);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  color: rgba(0, 0, 0, 0.1);
  font-size: 100px;
}

.heading.white {
  color: hsla(0, 0%, 100%, 0.3);
}

.div-block-2 {
  position: absolute;
  left: 180px;
  top: 280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100px;
  padding: 24px;
  background-color: #fff;
}

.div-block-3 {
  position: relative;
  top: -100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-tile {
  display: inline-block;
  width: 100px;
  text-align: left;
  list-style-type: none;
}

.list-item {
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}

.list-item.content {
  font-weight: 400;
  text-align: left;
}

.list-content {
  display: inline-block;
  margin-left: 20px;
  text-align: left;
  list-style-type: none;
}

.links {
  display: inline-block;
  margin-top: 8px;
  color: #333;
  cursor: pointer;
}

.bold {
  max-width: 580px;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  color: #7a7a7a;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

.cta {
  padding: 16px 40px;
  border-radius: 4px;
  background-color: #000;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.cta:hover {
  background-color: #333;
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.text-block-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.member {
  width: 240px;
  margin-right: 60px;
  margin-left: 60px;
}

.avatar {
  width: 120px;
  border-radius: 100px;
}

.job-title {
  margin-top: 16px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.name {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.job-description {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  color: #8d8d8d;
  font-size: 15px;
  line-height: 24px;
}

.divider {
  width: 320px;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e7e7e7;
}

.member-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.member-block:first-child {
  margin-top: 100px;
}

.member-block:last-child {
  margin-bottom: 100px;
}

.access {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.recruit {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.team {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.service {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.sns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-4 {
  margin-right: 16px;
}

.link-block {
  margin-right: 16px;
  margin-left: 16px;
}

.highlight {
  color: #000;
  font-weight: 700;
}

.div-block-4 {
  margin-top: -100px;
}

.service-title {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

.service-disc {
  position: relative;
  left: 80px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 18px;
  line-height: 1.5em;
  text-align: left;
}

.service-box {
  width: 600px;
  margin-bottom: 40px;
}

.service-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  margin-bottom: 20px;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
}

.nav-align {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lang {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.nav-links {
  color: #333;
  text-decoration: underline;
}

.nav-links.w--current {
  color: #333;
}

.nav-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.disable {
  color: #c4c4c4;
}

@media (max-width: 991px) {
  .div-block-2 {
    left: 40px;
  }
  .div-block-3 {
    top: 0%;
  }
  .service-inner {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hero {
    height: 700px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .about {
    height: auto;
    min-height: 700px;
    padding: 40px;
  }
  .heading.white {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .photo {
    width: 80%;
  }
  .div-block-2 {
    position: static;
    left: 0px;
    width: 80%;
  }
  .div-block-3 {
    top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .member {
    margin-bottom: 40px;
  }
  .member-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .access {
    height: auto;
    min-height: 700px;
    padding: 40px;
  }
  .recruit {
    height: auto;
    min-height: 700px;
    padding: 40px;
  }
  .team {
    height: auto;
    min-height: 700px;
    padding: 40px;
  }
  .service {
    height: auto;
    min-height: 700px;
    padding: 40px 20px;
  }
  .image-5 {
    width: 80%;
  }
  .div-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .service-disc {
    left: 0px;
  }
  .service-box {
    width: 100%;
  }
  .service-inner {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .footer {
    height: auto;
    min-height: 700px;
    padding: 40px;
  }
  .nav-inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 479px) {
  .text-block {
    font-size: 20px;
  }
  .about {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph {
    font-size: 14px;
    line-height: 1.8em;
  }
  .photo {
    width: 100%;
  }
  .div-block-2 {
    position: relative;
    top: 0px;
    width: 100%;
    padding: 24px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .list-tile {
    width: 100%;
    padding-left: 0px;
  }
  .list-item {
    margin-bottom: 56px;
    text-align: center;
  }
  .list-item.content {
    text-align: center;
  }
  .list-content {
    position: absolute;
    top: 50px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .bold {
    font-size: 16px;
    line-height: 28px;
  }
  .cta {
    padding-right: 40px;
    padding-left: 40px;
  }
  .text-block-2 {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-top: 80px;
    text-align: center;
  }
  .member {
    margin-right: 10px;
    margin-left: 10px;
  }
  .divider {
    width: 100%;
  }
  .team {
    padding-top: 60px;
  }
  .image-5 {
    width: 100%;
  }
  .service-title {
    font-size: 30px;
  }
  .service-disc {
    color: #919191;
    font-size: 16px;
  }
  .service-inner {
    margin-right: 0px;
    margin-left: 0px;
  }
  .footer {
    min-height: 400px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .mobile {
    width: 54%;
  }
}
